<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="http://www.demoqa.com/"/>
    <add key="TestDataSheetPath" value="D:\qa 2017\SeleniumDesignPatternsDemo2\SeleniumDesignPatternsDemo\SeleniumDesignPatternsDemo\DataDrivenTests\"/>
    <add key="Logs" value="D:\qa 2017\SeleniumDesignPatternsDemo2\SeleniumDesignPatternsDemo\SeleniumDesignPatternsDemo\Logs\"/>
    <add key="TestDataSheetPathTwo" value="D:\qa 2017\SeleniumDesignPatternsDemo2\SeleniumDesignPatternsDemo\SeleniumDesignPatternsDemo\DataDrivenTests\"/>
  </appSettings>
</configuration>
